{% extends 'base.html' %}
{% block content %}
{% load custom_filters %}
<style>
    /* تنسيق النص العنوان */
    .header-text {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        padding: 10px 0;
        color: #333;
    }

    /* تنسيق الخط الأفقي */
    .custom-hr {
        width: 120px; /* اجعل الخط قصيرًا */
        height: 2px; /* اجعل الخط سميكًا قليلاً */
        background-color: #007bff; /* لون حديث */
        border: none; /* إزالة الحدود الافتراضية */
        margin: 10px auto; /* جعله في المنتصف */
    }

    /* تحسين المسافات العامة */
    .content {
        background: #f9f9f9; /* خلفية فاتحة للنص */
        padding: 20px;
        border-radius: 8px; /* زوايا مستديرة للصندوق */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* تأثير الظل */
        font-family:Verdana, Geneva, Tahoma, sans-serif, sans-serif; /* خط حديث ومريح */
    }

    /* تحسين الصفحة بشكل عام */
    body {
        background: #eef2f7; /* خلفية حديثة للصفحة */
    }

</style>

<div class="col-lg-10">
    <div class="content">
        <div class="row">
            <!-- عنوان الصفحة -->
            <div class="header-text">
                <h3>الفاتورة #{{ bill.id }}</h3>
            </div>
            <!-- الخط الأفقي -->
            <hr class="custom-hr">
            <br>
            <table class="table table-hover">
                <thead>
                    <tr class="table-dark">
                    <th scope="col"></th>
                    <th scope="col">الاسم</th>
                    <th scope="col">السعر</th>
                    <th scope="col">العدد</th>
                    <th scope="col">اجمالي السعر</th>
                    <th scope="col">الفئة</th>
                    <th scope="col">المورد</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in bill.items.all %}
                    <tr>
                        <th scope="col"></th>
                        <td>اسم القطعة : {{ item.spare_part.name }}</td>
                        <td>السعر  : {{ item.spare_part.price }}</td>
                        <td>العدد  : x{{ item.quantity }}</td>
                        <td>اجمالي السعر  : {{ item.quantity|multiply:item.spare_part.price }}</td>
                        <td>الفئة : {{ item.spare_part.category }}</td>
                        <td>اسم المورد : {{ item.spare_part.supplier.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <a style="margin: 20px;" href="{% url 'generate_invoice_pdf' bill.id %}" class="btn btn-warning" target="_blank">ملف pdf</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
