{% extends 'base.html' %}
{% block content %}
<div class="col-lg-10">
    <div class="content">
        <div class="row">
            <h2 style="padding: 20px;">
                النتجات الناقصة من:
            </h2>
            <table class="table table-hover">
            <thead>
                <tr class="table-dark">
                <th scope="col">ID</th>
                <th scope="col">الإسم</th>
                <th scope="col">عدد المنتجات</th>
                </tr>
            </thead>
            <tbody>
                {% for supplier in empty_supplier %}
                    <tr onclick="window.location.href='{% url 'empty_products_by_supplier' supplier.id %}';" style="cursor: pointer;"> 
                    <th scope="row">{{supplier.id}}</th>
                    <td>{{supplier.name}}</td>
                    <td>{{supplier.unavailable_parts_count}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="row">
            <h2 style="padding: 20px;">
                المنتجات
            </h2>
            <table class="table table-hover">
            <thead>
                <tr class="table-dark">
                <th scope="col">ID</th>
                <th scope="col">الإسم</th>
                <th scope="col">العدد</th>
                <th scope="col">السعر</th>
                <th scope="col">الفئة</th>
                <th scope="col">المورد</th>
                <th scope="col">تاريخ الإضافة</th>
                </tr>
            </thead>
            <tbody>
                {% for part in parts %}
                    <tr onclick="window.location.href='{% url 'spare_part_detail' part.id %}';" style="cursor: pointer;">
                    <th scope="row">{{part.id}}</th>
                    <td>{{part.name}}</td>
                    <td>{{part.stock_quantity}}</td>
                    <td>{{part.price}}</td>
                    <td>{{part.category}}</td>
                    <td>{{part.supplier.name}}</td>
                    <td>{{part.created_at}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>        
{% endblock %}