{% extends 'base.html' %}
{% block content %}
{% load custom_filters %}
    <div class="col-lg-10">
        <div class="content">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <a class="box-links" href="{% url 'products' %}">
                    <div class="box d-flex flex-column justify-content-center align-items-center">
                        <i class="fa-solid fa-car-side" style="font-size:150px;"></i>
                        <p class="icon-text">قطع الغيار (المنتجات)</p>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4">
                    <a class="box-links" href="{% url 'mkbill' %}">
                    <div class="box d-flex flex-column justify-content-center align-items-center">
                        <i class="fa-solid fa-receipt" style="font-size:150px;"></i>
                        <p class="icon-text">عمل فاتورة بيع</p>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4">
                    <a class="box-links" href="{% url 'income_bills' %}">
                    <div class="box d-flex flex-column justify-content-center align-items-center">
                        <i class="fa-solid fa-file-invoice" style="font-size:150px;"></i>
                        <p class="icon-text">الفواتير الواردة</p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <a class="box-links" href="{% url 'suppliers' %}">
                    <div class="box d-flex flex-column justify-content-center align-items-center">
                        <i class="fa-solid fa-users" style="font-size:150px;"></i>
                        <p class="icon-text">الموردين</p>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4">
                    <a class="box-links" href="{% url 'archived_bills' %}">
                    <div class="box d-flex flex-column justify-content-center align-items-center">
                        <i class="fa-solid fa-box-archive" style="font-size:150px;"></i>
                        <p class="icon-text">الفواتير المؤرشفة</p>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4">
                    <a class="box-links" href="{% url 'non_archived_bills' %}">
                    <div class="box d-flex flex-column justify-content-center align-items-center">
                        <i class="fa-solid fa-file-circle-xmark" style="font-size:150px;"></i>
                        <p class="icon-text">الفواتير الغير مؤرشفة (الجارية) </p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <a class="box-links" href="{% url 'add_supplier' %}">
                    <div class="box d-flex flex-column justify-content-center align-items-center">
                        <i class="fa-solid fa-user-plus" style="font-size:150px;"></i>
                        <p class="icon-text">اضافة مورد</p>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4">
                    <a class="box-links" href="{% url 'categories' %}">
                    <div class="box d-flex flex-column justify-content-center align-items-center">
                        <i class="fa-solid fa-list" style="font-size:150px;"></i>
                        <p class="icon-text">الفئات</p>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4">
                    <a class="box-links" href="{% url 'backup' %}">
                    <div class="box d-flex flex-column justify-content-center align-items-center">
                        <i class="fa-solid fa-rotate-right" style="font-size:150px;"></i>
                        <p class="icon-text">عمل نسخ احطياتية من البيانات و استعادة البيانات</p>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
