{% extends 'base.html' %}
{% block content %}
<style>
    .mb-3{
        margin: 30px;
        padding: 10px;
    }
    .content{
        height: 135vh;
    }
</style>
<div class="col-lg-10">
    <div class="content">
        <h2 style="padding: 20px;">
            تغيير كلمة المرور
        </h2>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">كلمة المرور</label>
                <input type="password" name="password1" class="form-control" id="exampleFormControlInput1" required>
            </div>
            
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">تأكيد كلمة المرور</label>
                <input type="password" name="password2" class="form-control" id="exampleFormControlInput1" required>
            </div>

            <div class="d-flex justify-content-center">
                <button style="margin: 20px;" type="submit" class="btn btn-success">تغيير كلمة المرور</button>
            </div>
        </form>
        
    </div>
</div>   
{% endblock %}