* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: aliceblue; /* لون الخلفية الأساسي */
    color: #333; /* لون النص الأساسي */
}
