<div class="col-lg-2" id="sidepar">
    <div class="head-photo text-white p-3">
        
    </div>
    <div class="head text-white p-3">
        <h3>يونس</h3>
        <p>لقطع غيار السيارات</p>
        <hr>
    </div>
    <div class="links p-3">
        <ul class="list-unstyled">
            <li><a href="{% url 'home' %}" class="text-white">الرئيسية</a></li>
            <li><a href="{% url 'products' %}" class="text-white">قطع الغيار (المنتجات)</a></li>
            <li><a href="{% url 'mkbill' %}" class="text-white">عمل فاتورة</a></li>
            <li><a href="{% url 'add_product' %}" class="text-white">اضافة منتج</a></li>
            <li><a href="{% url 'suppliers' %}" class="text-white">الموردين</a></li>
            <li><a href="{% url 'categories' %}" class="text-white">الفئات</a></li>
            <li><a href="{% url 'create_category' %}" class="text-white">إضافة فئة</a></li>
            <li><a href="{% url 'archived_bills' %}" class="text-white">الفواتير المؤرشفة</a></li>
            <li><a href="{% url 'backup' %}" class="text-white">النسخ الإحتياطي</a></li>
        </ul>
    </div>

    <div class="head">
        
    </div>
    <div>

    </div>
</div>

